<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Indie+Flower&family=Merienda&display=swap" rel="stylesheet">
</head>
  <body>
      <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <a href="/"><img src="{{url_for('static', filename='logo.png')}}"></a>
        </div>
    </nav>

      {% block content %}{% endblock %}
  </body>
</html>