<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 

  </head>
  <body style="background: url({{ url_for('static', filename='images/bg.jpg') }});">
      <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
       <ul>
        <li class="logo-container-fluid">
            <a class= "logo-left" href="{{ gindex}}"><img src="{{ url_for('static', filename='images/logo.png') }}"/></a>
        </li>

        <li class="search__container">
            <form method="POST" action="http://localhost:5000/gindex">
                {{ form.hidden_tag() }}
                {% if form.search.errors %}
                {{ form.search(class="search__input", placeholder="Search a theme") }}
                <div class="invalid-feedback">
                    {% for error in form.search.errors%}
                        <span>{{error}}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.search(class="search__input", placeholder="Search a theme") }}
                {% endif %}
            </form>
        </li>

        <li class="container-fluid">
            <ul>
              <li><a class= "icon-right" href="{{ gindex }}"><i style="color:White;" class="material-symbols-outlined">add_business</i><p>Index</p></a></li>
              <li><a class= "icon-right" href="{{ gpantry }}"><i style="color:White;" class="material-symbols-outlined">kitchen</i><p>Pantry</p></a>
              <li><a class= "icon-right" href="{{ account }}"><i style="color:White;" class="material-symbols-outlined">person</i><p>Account</p></a>
            </ul>
        </li>
       </ul>
    </nav>
    
    <article>
      {% if groceries == -1 %}
      <div class="no_results">
          <p> Hmm, no results for that </p>
      </div>
      {% else %}
          <form method="POST" action="" id="grocery_list">
              <ul class="grocery_container">
                  {% for item in groceries %} 
                      <li class="grocery_item">
                              <img class="item_img item" src="static/images/{{ item }}.png" alt="an image of a/an {{ item }}">
                              <p class="desc">{{ item }}</p>
                              <button class="incr edit" type="submit" name="increment">+</button>
                              <button class="incr edit" type="submit" name="increment">-</button>
                      </li>
                  {% endfor %}
              </ul>
          </form>
      {% endif %}
    </article>

      {% block content %}
      {% endblock %}
  </body>
</html>