{% extends "auth.html" %}
{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock %}

{% block content %}
<div class="signup-form">
  <form method="POST">
  <h2>Welcome Back</h2>
  <p>Sign In to track your groceries!</p>
  <hr>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      {{ form.email(class="form-control") }}
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      {{ form.password(class="form-control") }}
    </div>
  </div>
  
  <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
      </div>
  <div class="form-group">New Here? <a href="{{signup}}">Create an Account</a></div>
  </form>
</div>
{% endblock %}