{% extends "auth.html" %}


{% block content %}
<div class="signup-form">
  <a class= "logo-centered" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"/></a>
  <form method="POST"  action="{{ current_page }}">
  <div class="sign-up-header">
  <h2 style="display:{{ wel_display }}">Welcome Back</h2>
  <h2 style="display:{{ acc_display }}">Account Created!</h2>
  <p>Sign In to track your groceries!</p>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      {{ form.email(class="form-control") }}
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      {{ form.password(class="form-control") }}
    </div>
  </div>
  
  <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Sign In</button>
      </div>
  <p style="display:{{ display }}; color:red;" class="invalid_msg"> Invalid username or passsword </p>	  
  <div class="form-group">New Here? <a href="{{signup}}">Create an Account</a></div>
  </form>
</div>
{% endblock %}